@(parentSection: model.Section)
<div class="input-group">
    <span class="input-group-addon"><span class="glyphicon glyphicon-plus"></span></span>
    <input type="text" class="form-control" id="name" placeholder="New Section">
    <span class="input-group-btn">
        <button type="button" class="btn btn-primary" id="submitSection">
            Add
        </button>
    </span>
</div>

<script>
    $( document ).ready(function() {
        $("#submitSection").click(function(){

            var data = {
                name: $("#name").val(),
                parentID: "@parentSection.id"
            };
            $.ajax({
                type: "POST",
                url: "@controllers.routes.Application.addSection()",
                data: JSON.stringify(data),
                dataType:'application/json',
                contentType : 'application/json'
            });
            setTimeout(function() { location.reload(true) },300);
        });
    });

</script>